body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 5rem 0;
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider {
  width: 250rem;
  height: 40rem;
  display: flex;
  justify-content: start;
  gap: 2rem;
  transform: translateX(-340px);
  scroll-behavior: smooth;
}


.slide {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0.6;
  transition: 1s opacity linear;
  /* transition: 1s all ease-in-out; */
  scroll-snap-type: x proximity;
}

.slide:nth-child(4) {
  opacity: 1;
  transition: 1s opacity;
}

.slide img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}


.controls-container{
  margin-top: 1rem;
  width: 20%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.controls-container .arrow, .pause, .play{
  color: var(--KC-orange);
  cursor: pointer;
  padding: 1rem;
}

.controls-container .arrow.left i{
  transform: rotate(90deg);
  margin-right: 1rem;
  border-radius: 10px 0 0 10px;
}

.controls-container .arrow.right i{
  transform: rotate(-90deg);
  margin-left: 1rem;
  border-radius: 0 10px 10px 0;
}


.controls-container i:hover {
  color: var(--KC-yellow);
}

.hp-caruselle-button {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

.hp-caruselle-button > a {
  text-decoration: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 1rem 0;
  background-color: var(--KC-orange);
  border-radius: 35px;
  width: 15rem;
}

.hp-caruselle-button > a:link {
  color: var(--primary-background-color);
}

.hp-caruselle-button > a:visited { 
  color: var(--primary-background-color); 
}

.hp-caruselle-button > a:hover { 
  background-color: var(--KC-orangehover); 
}


/* Responsive Caruselle HP */
@media screen and (max-width:1300px){
  .slider {
    width: 250rem;
    height: 40rem;
    transform: translateX(-335px);
  }
}


@media screen and (max-width:650px){
  .slider {
    width: 200rem;
    height: 35rem;
    transform: translateX(-270px);
  }
}

@media screen and (max-width:480px){
  .slider {
    width: 200rem;
    height: 30rem;
    transform: translateX(-270px);
  }
}

@media screen and (max-width:300px){
  .slider {
    width: 100rem;
    height: 25rem;
    transform: translateX(-135px);
  }
}

@media screen and (max-height:600px){
  .slider {
    width: 150rem;
    height: 25rem;
    transform: translateX(-200px);
  }
}