/*Typografie*/
@font-face {
    font-family: Opificio;
    src: url(../fonts/opificio/Opificio_Bold_rounded.ttf);
}

@font-face {
    font-family: Helvetica;
    src: url(../fonts/Helvetica/Helvetica-01.ttf);
}

@font-face {
    font-family: Helvetica Bold;
    src: url(../fonts/Helvetica/Helvetica-Bold.ttf);
}

/* Headings and Fonts */
h1 {
    font-family: var(--heading-font);
    font-size: clamp(var(--header-mobile-size), 10vw, var(--header-size)) ;
    line-height: 1.5;
    color: var(--KC-orange);
}

h2 {
    font-family: var(--heading-font);
    font-size: clamp(var(--h3-mobile-size), 5vw, var(--h3-size));
    color: var(--KC-orange);
}

h3 {
    font-family: var(--bold-body-font);
    font-size: clamp(var(--nav-mobile-size), 3vw, var(--navigation-size));
    color: var(--text-color);
    color: var(--KC-orange);
}

/* nav */ .teaser {
    font-family: var(--heading-font);
    font-size: clamp(var(--nav-mobile-size), 5vw, var(--navigation-size));
    color: var(--KC-orange);
}

/* blocktext */ p {
    font-family: var(--body-font);
    font-size: clamp(var(--blocktext-mobile-size), 3vw, var(--blocktext-size));
    color: var(--text-color);
    line-height: 150%;
}


/* HP Caruselle Section */
.hp-caruselle-button > a {
    color: var(--primary-background-color);
    font-size: clamp(var(--nav-mobile-size), 5vw, var(--navigation-size));
    font-family: var(--heading-font);
}